<!DOCTYPE html>
<html>
<!--This contains class info color of banner centering etc.-->



<head>
    <style>
        .banner {
          background-color: tomato;
          color: white;
          padding: 10px;
          text-align:center
        }
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        .regular {
          text-align: left;
        }
        label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
        }

      input,
      label {
        margin: .4rem 0;
      }
      </style>
      <img src="/static/logo.png" alt="logo" class="center">
</head>

<!--This contains the banner for useful links-->
<h1 class = "banner">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="/intro"><i class="fa fa-home"></i></a>
    <a href="/analytics"><i class="fa fa-search"></i></a>
    <a href="/report"><i class="fa fa-globe"></i></a>
</h1>

<!--This is where the specific pages content goes-->
<p>
  {%block content%}
  {% endblock %}
</p>
</html>