<!DOCTYPE html>

<html>

<!--This contains class info color of banner centering etc.-->
<head>
    <style>
        .banner {
          background-color: tomato;
          color: white;
          padding: 10px;
          text-align:center
        }
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      </style>
      <img src="/static/logo.png" alt="logo" class="center">
</head>

<!--This contains the banner for useful links-->
<h1 class = "banner">
    <a href="/intro">HOME</a>
    <a href="/report">REPORT</a>
    <a href="/analytics">LOCAL ANALYTICS</a>
</h1>

</html>