{% extends 'base.html' %}


{% block content%}

{%- macro location_form(subform, index) %}
    <script src="https://www.google.com/recaptcha/api.js"></script> 
    <div id="lap-{{ index }}-form" class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}" data-index="{{ index }}">
        <div>
            {{ subform.latitude.label }}
            {{ subform.latitude }}
        </div>
        <div>
            {{ subform.longitude.label }}
            {{ subform.longitude}}
        </div>
        <div>
            {{ subform.time.label }}
            {{ subform.time }}
        </div>
        <a class="remove" href="">Remove</a>
        <hr/>
    </div>
{%- endmacro %}

{% endblock %}